@model IEnumerable<Student>


@{
    ViewData["Title"] = "Home Page";   
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Faculty</th>
            <th>Button</th>
        </tr>
        @foreach (var student in Model)
        {
    <tr>
        <td>@student.Id</td>
        <td>@student.Name</td>
        <td>@student.Address</td>
        <td>@student.Faculty</td>
        <td><a asp-controller="home" asp-action="edit" class="btn btn-success" asp-route-id="@student.Id">Edit</a></td>
         <td><a asp-controller="home" asp-action="delete" asp-route-id="@student.Id" class="btn btn-danger">Delete</a></td>

    </tr>

        }

    </table>
       

        <a asp-controller="home" asp-action="create" class="btn btn-primary">Create</a>
        @*<a asp-controller="" asp-action=""  class="btn btn-danger">Delete</a>
        <a asp-controller="home" asp-action="edit"  class="btn btn-success">Edit</a>*@


</div>
